<section class="card">
    <div class="card-header">
        <div class="post-header">{{postData.title}}</div>
        <div class="post-info">Posted by me on {{format_date postData.createdAt}}</div>
    </div>
    <p class="card=body">{{postData.body}}</p>
</section>
